# Local/private files
# Ignore environment-specific folders
archive/
configs/
data/
db/
logs/
schemas/
views/

# Include sample/ for public examples
!sample/
!sample/configs
!sample/data
!sample/db
!sample/logs
!sample/schemas
!sample/views

# Ignore hidden macOS system files
**/.DS_Store

# Ignore specific file types but keep folders
sample/logs/dev/*.log

# Python cache
# Python artifacts
__pycache__/
*.pyc

# Environment files
.env

# Virtual environments
venv/
.venv/
